<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
    <!--  外部bean注入  -->
    <bean id="userService" class="IOC.xml.service.UserService">
        <!-- name值：类里面声明的属性名       -->
        <property name="userDao" ref="userDao"></property>
    </bean>
    <bean id="userDao" class="IOC.xml.dao.UserDaoImpl"></bean>

</beans>